@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

html {
  --primary-color: #333;
  --primary-color-light: #888;
  color: var(--primary-color);
}

#table-obj {
  background-image: url('../objects/tmb/table.png');
}

#chair-obj {
  background-image: url('../objects/tmb/chair.png');
}

#sofa-obj {
  background-image: url('../objects/tmb/sofa.png');
}

#tvtable-obj {
  background-image: url('../objects/tmb/tvtable.png');
}

#lamp-obj {
  background-image: url('../objects/tmb/lamp.png');
}

#plant-obj {
  background-image: url('../objects/tmb/plant.png');
}

#carpet-obj {
  background-image: url('../objects/tmb/carpet.png');
}

#globe-obj {
  background-image: url('../objects/tmb/globe.png');
}

#parquet-txt {
  background-image: url('../objects/textures/parquet.jpg');
}

#maiolica-txt {
  background-image: url('../objects/textures/maiolica.jpg');
}

#fourtiles-txt {
  background-image: url('../objects/textures/4tiles.jpg');
}

#sixteentiles-txt {
  background-image: url('../objects/textures/16tiles.jpg');
}

#white-txt {
  background-color: rgb(250, 250, 250, 1);
}

#grey-txt {
  background-color: rgb(130, 130, 130, 1);
}
#brown-txt {
  background-color: rgb(100, 60, 60, 1);
}
#custom-txt {
  background-color: rgb(240, 250, 130, 1);
}
#custom-txt-overlay {
  margin: -50.4% 0px;
  padding: 50.2% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../objects/textures/blank.jpg');
  opacity: 0.25;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

body {
  overflow: hidden;
  margin: 0;
}

header {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  color: #f5f5f7;
  background-color: var(--primary-color);
}

h1 {
  margin: 0;
  font-weight: 700;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.separator {
  width: 35%;
  margin-right: 100%;
  margin-bottom: 10px;
  height: 2px;
  background-color: #ffa700;
}

canvas {
  width: 100%;
  height: 100%;
}

.column-left,
.column-right {
  float: left;
  height: 90vh;
}

.column-left {
  width: 70%;
}

.column-right {
  width: 30%;
  padding: 0 20px;
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
  border-left: 2px solid var(--primary-color-light);
  overflow-y: scroll;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  background: var(--primary-color);
  padding: 4px;
}

.grid-container > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid black;
  padding-bottom: 50%;
  padding-top: 50%;
}

kbd {
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em 0.2em;
  box-shadow: 0 1px 0px var(--primary-color-light), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  background-color: var(--primary-color-light);
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: var(--primary-color-light);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--primary-color);
}

input[type="range"] {
  background-color: rgba(255, 255, 255, 0);
}

td {
  border: 1px solid #dddddd;
  font-size: 13px;
  padding: 8px;
}

.collapsible {
  cursor: pointer;
}
.collapsible:after {
  content: '\002B';
  transition: transform 0.2s ease-out;
  color: var(--primary-color-light);
  float: right;
  margin-right: 5px;
}
.active:after {
  transform: rotate(45deg);
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.slider {
  height: 30px;
  -webkit-appearance: none;
  width: 100%;
  margin: 2px -2px;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 26px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-light) 100%);
  border-radius: 1px;
}
.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 26px;
  width: 18px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
}
.slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497E3;
  border-radius: 1px;
}
.slider::-moz-range-thumb {
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #2497E3;
  border-radius: 2px;
}
.slider::-ms-fill-upper {
  background: #2497E3;
  border-radius: 2px;
}
.slider::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.slider:focus::-ms-fill-lower {
  background: #2497E3;
}
.slider:focus::-ms-fill-upper {
  background: #2497E3;
}
.slider-item {
  display: flex;
}

#cameraDefaultButton {
  background-color: #EE4433;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  float: right;
  cursor: pointer;
  margin-top: 8px;
  text-transform: uppercase;
  border-radius: 8px;
}

#cameraUpDownSlider,
#cameraZoomSlider {
  transform: rotate(180deg);
}

#cameraUpDownSlider::-webkit-slider-runnable-track,
#cameraZoomSlider::-webkit-slider-runnable-track {
  background: linear-gradient(-90deg, var(--primary-color) 0%, var(--primary-color-light) 100%);
}

.slider-item > .fas {
  margin: auto;
  width: 30px;
  padding: 0 10px;
  line-height: 26px;
  height: 26px;
  color: white;
}

.slider-icon-start {
  background: var(--primary-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-icon-end {
  background: var(--primary-color-light);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider-item > h5 {
  margin: auto;
  width: 50%;
  min-width: 80px;
  font-size: 15px;
}

.credits {
  font-size: 11px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  color: var(--primary-color-light);
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgba(0,0,0,0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.modal-body {padding: 2px 16px;}

#objects-list {
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

#objects-list > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 100px;
}