@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap');

#table-obj {
  background-image: url('../objects/tmb/table.png');
}

#chair-obj {
  background-image: url('../objects/tmb/chair.png');
}

#sofa-obj {
  background-image: url('../objects/tmb/sofa.png');
}

#tvtable-obj {
  background-image: url('../objects/tmb/tvtable.png');
}

#lamp-obj {
  background-image: url('../objects/tmb/lamp.png');
}

#plant-obj {
  background-image: url('../objects/tmb/plant.png');
}

#carpet-obj {
  background-image: url('../objects/tmb/carpet.png');
}

#globe-obj {
  background-image: url('../objects/tmb/globe.png');
}

#parquet-txt {
  background-image: url('../objects/textures/parquet.jpg');
}

#maiolica-txt {
  background-image: url('../objects/textures/maiolica.jpg');
}

#fourtiles-txt {
  background-image: url('../objects/textures/4tiles.jpg');
}

#sixteentiles-txt {
  background-image: url('../objects/textures/16tiles.jpg');
}

#white-txt {
  background-color: rgb(250, 250, 250, 1);
}

#grey-txt {
  background-color: rgb(130, 130, 130, 1);
}
#brown-txt {
  background-color: rgb(100, 60, 60, 1);
}
#custom-txt {
  background-color: rgb(240, 250, 130, 1);
}
#custom-txt-overlay {
  margin: -50.4% 0px;
  padding: 50.2% 0px;
  background-image: linear-gradient(to bottom right, black, white);
  opacity: 0.25;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body {
  overflow: hidden;
  margin: 0;
}

header {
  height: 10vh;
  padding: 3vh;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h3 {
  margin-bottom: 5px;
}

header h1 {
  margin: 0;
  font-weight: 800;
}

.separator {
  width: 35%;
  margin-right: 100%;
  margin-bottom: 10px;
  height: 2px;
  background-color: #ffa700;
}

canvas {
  width: 100%;
  height: 90%;
}

.column-left,
.column-right {
  float: left;
  height: 90vh;
}

.column-left {
  width: 70%;
}

.column-right {
  width: 30%;
  padding: 0 10px 35px;
  background: rgb(242,242,242);
  background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
  border-left: 2px solid #aaa;
  overflow-y: auto;
}

h2 {
  padding: 3vh;
  margin: 0;
  height: 10%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background: linear-gradient(70deg, #ff7300 0%, #ffa700 80%);
  padding: 10px;
}

.grid-container > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid black;
  padding-bottom: 50%;
  padding-top: 50%;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #aaa;
}

input[type="range"] {
  background-color: rgba(255, 255, 255, 0);
}

.slider {
  height: 30px;
  -webkit-appearance: none;
  width: 100%;
  margin: 2px 0;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 26px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(90deg, #ff7300 0%, #ffa700 100%);
  border-radius: 1px;
}
.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 26px;
  width: 18px;
  border-radius: #ff7300;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
}
.slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497E3;
  border-radius: 1px;
}
.slider::-moz-range-thumb {
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #2497E3;
  border-radius: 2px;
}
.slider::-ms-fill-upper {
  background: #2497E3;
  border-radius: 2px;
}
.slider::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.slider:focus::-ms-fill-lower {
  background: #2497E3;
}
.slider:focus::-ms-fill-upper {
  background: #2497E3;
}
.slider-item {
  display: flex;
}

#cameraUpDownSlider,
#cameraZoomSlider {
  transform: rotate(180deg);
}

#cameraUpDownSlider::-webkit-slider-runnable-track,
#cameraZoomSlider::-webkit-slider-runnable-track {
  background: linear-gradient(-90deg, #ff7300 0%, #ffa700 100%);
}

.slider-item > .fas {
  margin: auto;
  width: 30px;
  padding: 0 10px;
  line-height: 26px;
  height: 26px;
  color: white;
}

.slider-icon-start {
  background: #ff7300;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-icon-end {
  background: #ffa700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slider-item > h5 {
  margin: auto;
  padding: 0 10px;
  font-size: 15px;
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ff7300;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ff7300;
  color: white;
}

#objects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  padding: 10px;
}

#objects-list > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}